@model X.PagedList.IPagedList<Dziennik.Application.Student.StudentDto>
@using X.PagedList.Mvc.Core
@using Dziennik.Application.Student
@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<form method="get" asp-controller="Student" asp-action="Index">
    <div class="mb-3">
        <label for="searchPhrase" class="form-label">Search for student</label>
        <input type="text" class="form-control" id="searchPhrase" name="searchPhrase" placeholder="Search" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br />
<div>
    Showing records @Model.FirstItemOnPage - @Model.LastItemOnPage out of @Model.TotalItemCount records
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-warning" asp-controller="Student" asp-action="Details" asp-route-id="@item.StudentId">Details</a>
                <a class="btn btn-secondary" asp-controller="Student" asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                    <a class="btn btn-danger" asp-controller="Student" asp-action="Delete" asp-route-id="@item.StudentId"
                       onclick="confirmDelete('@item.StudentId');">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
<br />

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">@i</a>
            </li>
        }

        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Student/ConfirmDeleteStudent.js"></script>
}